p{
}
h1{
}
h2{
}
h3{
}
h4{
}
h5{
}
h6{
}
span{
}
ul{
}
li{
}
#header{
  background-color:#023334;
  width:100%;
  height:40px;
}
nav{
  background-color:#023334;
  width:100%;
  height:100px;
  color:#ffffff;
}
body{
  background-color:#023334;
  width:100%;
  color:#ffffff;
}
#footer{
}
#footerLeft{
}
#footerCenter{
}
#footerRight{
}
