p {
    display:inline;
    color:#fffff;
    font-size:12px;
    font-family:"Quicksand";
}
h1 {
}
h2 {
    display:inline;
    font-size:36px;
    color:#fff;
}
h3 {
    display: inline;
    font-family: "Quicksand";
}
h4 {
}
h5 {
}
h6 {
}
span {
    display: block;
}
ul {
    list-style-type: none;
    font-family:"Quicksand";
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
}
li a:hover {
    background-color:transparent;
    color:#fff;
}
img {
    z-index: -1;
}
div {
display: block;
}
body {
    --webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size cover;
            background-size: cover;
            overflow: scroll;
  margin:0;
  padding:0;
  background-color:#e96026;
  width:100%;
  color:#ffffff;
  
}
.container {
  position: relative;
  width: 100%;
}
.right {
    float:right;
    position: absolute;
    right: 0px;
    width: 300px;
    background-color:#e96026;
}
.floating-box {
    display: inline-block;
    width: 600px;
    height: 200px;
    margin: 10px;
}
#header{
  position:absolute;
  background-color:#e96026;
  width:100%;
  height:40px;
  z-index:1;
}
#navbar{
  float:left;
  position: absolute;
  background-color:#023334;
  width:100%;
  height:100px;
  margin-top:80px;
  color:#ffffff;
}
.menu-icon{
}
.searchbar{
}
input {
    width: 60%;
    margin:7px 0px 0px 7px;
    padding:10px;
    height:40px;
    opacity: .8;
}
input[type=text] {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}
.loginButton{
}
.signupButton{
}
footer{
    background-color:#023334;
    display:inline;
    position: absolute;
    width:100%;
    height:auto;
    padding:20px;
    font-family:'Quicksand';
}
div.footerLeft {
    width:50%;
    padding:10px;
}
div.footerCenter {
    width:25%;
    padding:10px;
}
div.footerRight {
    width:25%;
    padding:10px;
}

/* Media Queries */
@media screen and (max-width: 480px) {
