p{
    display:inline;
    color:#fffff;
    font-size:12px;
    font-family:"Quicksand";
    z-index:9999999;
}
h1{
}
h2{
    display:inline;
    font-size:36px;
    color:#fff;
    z-index:9999999;
}
h3{
    display: inline;
    font-family: "Quicksand";
}
h4{
}
h5{
}
h6{
}
span {
    display: block;
}
ul{
    list-style-type: none;
    font-family:"Quicksand";
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
}
li a:hover{
    background-color:transparent;
    color:#fff;
}
div {
display: block;
}
body{
  z-index:-1;
  margin:0;
  padding:0;
  background-color:#e96026;
  width:100%;
  color:#ffffff;
}
.container {
  position: relative;
  width: 100%;
}
.right {
    float:right;
    position: absolute;
    right: 0px;
    width: 300px;
    background-color:#e96026;
    z-index:99999999;
}
.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}
#header{
  z-index:1;
  position:absolute;
  background-color:#e96026;
  width:100%;
  height:40px;
}
#navbar{
  float:left;
  position: absolute;
  background-color:#023334;
  width:100%;
  height:100px;
  margin:40px;
  color:#ffffff;
  z-index:99999;
}
#menu-icon{
}
#searchbar{
    z-index:99999999;
}
.loginButton{
}
.signupButton{
}
#footer{
    z-index:99999;
    position: absolute;
    width:100%;
}
#footerLeft{
    position:absolute;
    width:50%;
    background-color:#023334;
}
#footerCenter{
    position:absolute;
    width:25%;
}
#footerRight{
    position:absolute;
    width:25%;
}
